// ====================== COLORS ======================//
$primary-color: #151618;
$secondary-color: #fff;
$accent-color: #F7F2EA;
$accent-color2: #754E29;

// ====================== FONT SIZE ======================//
$main-size: 16px;

// ====================== BREAKPOINTS ======================//
$biglaptop: 1200px; 
$laptop: 999px;
$mobile: 768px;
$small: 480px;